node_modules
dist/manifest.json
dist/content-scripts/css/main.css
dist/content-scripts/js/bundle.js
dist/resources/Compositions/AMP Connections.svg
dist/resources/Compositions/Brainly After Hours.svg
dist/resources/Compositions/Brainly camp.svg
dist/resources/Compositions/Brainly Cares.svg
dist/resources/Compositions/Brainly Universe.svg
dist/resources/Compositions/Brainly_Plus_Jump.svg
dist/resources/Compositions/Brainly_Plus_Portal.svg
dist/resources/Compositions/Brainly_Plus_VIP Club.svg
dist/resources/Compositions/BRC.svg
dist/resources/Compositions/Demo Day.svg
dist/resources/Compositions/Development.svg
dist/resources/Compositions/done.svg
dist/resources/Compositions/Expand Your Knowledge Together.svg
dist/resources/Compositions/Feature In Progress.svg
dist/resources/Compositions/good_bad.svg
dist/resources/Compositions/Impact Awards.svg
dist/resources/Compositions/Inclusion Council.svg
dist/resources/Compositions/KRK.svg
dist/resources/Compositions/Ladies@Brainly.svg
dist/resources/Compositions/Layer 2.svg
dist/resources/Compositions/Leadership Development.svg
dist/resources/Compositions/Learners_group.svg
dist/resources/Compositions/Manage Accounts Together.svg
dist/resources/Compositions/New Hire Orientation.svg
dist/resources/Compositions/NYC.svg
dist/resources/Compositions/On Top Of School Activities.svg
dist/resources/Compositions/Pairing Up.svg
dist/resources/Compositions/People News.svg
dist/resources/Compositions/Prism.svg
dist/resources/Compositions/students_group_1.svg
dist/resources/Compositions/students_group_2.svg
dist/resources/Compositions/students_group_3.svg
dist/resources/Compositions/students_group_4.svg
dist/resources/Compositions/students_group_5.svg
dist/resources/Compositions/students_group_6.svg
dist/resources/Compositions/success.svg
dist/resources/Compositions/Surveys.svg
dist/resources/Compositions/Train.svg
dist/resources/Compositions/What_s Up.svg
dist/resources/Humans/astronaut_1.svg
dist/resources/Humans/astronaut_2.svg
dist/resources/Humans/BrandPersona-OlderSister-01.svg
dist/resources/Humans/BrandPersona-OlderSister-02.svg
dist/resources/Humans/BrandPersona-OlderSister-03.svg
dist/resources/Humans/BrandPersona-OlderSister-04.svg
dist/resources/Humans/expert.svg
dist/resources/Humans/genius_1.svg
dist/resources/Humans/genius_2.svg
dist/resources/Humans/genius_3.svg
dist/resources/Humans/genius_4.svg
dist/resources/Humans/genius_5.svg
dist/resources/Humans/human_1.svg
dist/resources/Humans/human_2.svg
dist/resources/Humans/human_4.svg
dist/resources/Humans/human_5.svg
dist/resources/Humans/human_6.svg
dist/resources/Humans/human_7.svg
dist/resources/Humans/human_8.svg
dist/resources/Humans/human_9.svg
dist/resources/Humans/human_10.svg
dist/resources/Humans/human_11.svg
dist/resources/Humans/human_12.svg
dist/resources/Humans/human_13.svg
dist/resources/Humans/human_14.svg
dist/resources/Humans/human_15.svg
dist/resources/Humans/human_16.svg
dist/resources/Humans/human_17.svg
dist/resources/Humans/human_18.svg
dist/resources/Humans/human_19.svg
dist/resources/Humans/human_20.svg
dist/resources/Humans/human_21.svg
dist/resources/Humans/human_22.svg
dist/resources/Humans/human_23.svg
dist/resources/Humans/learner_1.svg
dist/resources/Humans/learner_4.svg
dist/resources/Humans/learner_5.svg
dist/resources/Humans/learner_6.svg
dist/resources/Humans/people_2.svg
dist/resources/Humans/student_1.svg
dist/resources/Humans/student_2.svg
dist/resources/Humans/student_3.svg
dist/resources/Humans/student_4.svg
dist/resources/Humans/student_adult.svg
dist/resources/Humans/students_group_1.svg
dist/resources/Humans/students_group_5.svg
dist/resources/Humans/success.svg
dist/resources/Humans/teacher_adult_2.svg
dist/resources/Humans/teacher_adult_3.svg
dist/resources/Humans/teacher_adult_4.svg
dist/resources/Humans/teacher_adult_5.svg
dist/resources/Humans/teacher_adult_6.svg
dist/resources/Humans/teacher_adult_7.svg
dist/resources/Humans/teacher_adult_8.svg
dist/resources/Humans/teacher_adult_9.svg
dist/resources/Humans/Woman_a.svg
dist/resources/Objects/Abacus.svg
dist/resources/Objects/Balloons.svg
dist/resources/Objects/book 2.svg
dist/resources/Objects/book_3.svg
dist/resources/Objects/Book.svg
dist/resources/Objects/brain_2.svg
dist/resources/Objects/Bulb.svg
dist/resources/Objects/calipers.svg
dist/resources/Objects/Camera.svg
dist/resources/Objects/Chart line.svg
dist/resources/Objects/Chart pie.svg
dist/resources/Objects/Desk with computer.svg
dist/resources/Objects/devices_computer.svg
dist/resources/Objects/devices_tablet.svg
dist/resources/Objects/glass_tube.svg
dist/resources/Objects/Globe.svg
dist/resources/Objects/grade_A.svg
dist/resources/Objects/grade_B.svg
dist/resources/Objects/grade_C.svg
dist/resources/Objects/grade_D.svg
dist/resources/Objects/grade_E.svg
dist/resources/Objects/grade_F.svg
dist/resources/Objects/hand_1.svg
dist/resources/Objects/hand_2.svg
dist/resources/Objects/hand_3.svg
dist/resources/Objects/hand_4.svg
dist/resources/Objects/Pawn.svg
dist/resources/Objects/q_shape_globe.svg
dist/resources/Objects/rocket.svg
src/scripts/ticket.html
