.deletion-reason{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.warnpts{
  border-bottom:none!important;
}
.primary-items, .secondary-items, .warnpts{ 
    margin-top:8px;
    padding: 8px 0px;
    border-bottom: 1px solid #c3d1dd;
    > label{
      padding:0px 8px;
      > span:last-child{
        margin-left:8px;
      }
    }
  }
.confirmdel{
    margin-top: 2%;
    margin-left: 0% !important;
}
.modButtons{
  margin-right:8px;
  margin-bottom:8px;
}
div#content-old{
  >div:nth-child(1) {
    display:flex;
    align-items:center;
    >div:nth-child(1){
      img{
        border-radius:10px;
      }
    }
    > div:nth-child(2){
      h1 > a{
        font-size:2rem;
        font-weight:900;
      }
      p{
        font-size: 1rem;
        font-weight:600;
      }
    }
  }
  tbody{
    tr{
      height: 40px;
      border-top: 1px solid #c3d1dd;
      border-bottom: 1px solid #c3d1dd;
    }
    a{
      font-size:13px!important;
    }
  }
}
#tabs-doj{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  li.active a{
    color:#f0f2f5!important;
  }
}
div#content-old a{
  color:#08c!important;
}
