.deletion-reason{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.warnpts{
  border-bottom:none!important;
}
.primary-items, .secondary-items, .warnpts{ 
    margin-top:8px;
    padding: 8px 0px;
    border-bottom: 1px solid #c3d1dd;
    > label{
      padding:0px 8px;
      > span:last-child{
        margin-left:8px;
      }
    }
  }
.confirmdel{
    margin-top: 2%;
    margin-left: 0% !important;
}
.modButtons{
  margin-right:8px;
  margin-bottom:8px;
}
div#content-old{
  >div:nth-child(1) {
    display:flex;
    align-items:center;
    >div:nth-child(1){
      img{
        border-radius:10px;
      }
    }
    > div:nth-child(2){
      h1 > div{
        font-size:2rem;
        font-weight:900;
      }
      p{
        font-size: 1rem;
        font-weight:600;
      }
    }
  }
  tbody{
    tr{
      height: 40px;
      border-top: 1px solid #c3d1dd;
      border-bottom: 1px solid #c3d1dd;
    }
    div{
      font-size:11px!important;
    }
  }
}
#tabs-doj{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  li.active a{
    color:#f0f2f5!important;
  }
}
.contenticon{
  height: 30px;
  fill: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  width: 30px;
  flex:none;
}
.contenticon.report{
  background:#ff7968;
}
.contenticon.attach{
  background:black;
}
.contenticon.approve{
  background:#60D399;
  fill:white;
}
.contenticon.shield{
  cursor:pointer;
  fill:#323c45;
  &:hover{
    background:#f0f2f5;
  }
}
.contenticon.crown{
  background:#fbbe2e;
  fill:white;
}
div#content-old a{
  color:#08c!important;
  cursor: pointer;
  font-weight: 700;
}

.iconcell{ 
  display:flex;
  height: 40px;
  display: flex;
  align-items: center;
  > div{
    display:flex;
  }
}
#content-old > div:nth-child(1) > div:nth-child(2) > h1 > a{
  font-weight: 900;
  font-size: 2rem;
}