*{
  --primary-color: #60d399;
  --primary-text: #ffffff;
}
[class ^= 'Header-module'], div[class ^= 'brn-header-placeholder'], .brn-footer, #html .mint .mint-header, #moderate-functions-panel .covering-text{
  background-color:var(--primary-color)!important;
  border-bottom-color: var(--primary-color)!important;
}
#moderate-functions-panel .text, .menu-list a:before, a[data-testid = 'navigation_add_question'] > span, div[class ^= 'Header-module__subnav'] span, div[class ^= 'Header-module__subnav'] a, button[aria-label = 'notification center'] svg, .brn-footer-legal-section div, .brn-footer-legal-section p, .brn-footer__container a, .brn-footer__container span, .brn-footer__container h3{
  color: var(--primary-text)!important;
}
div.brn-placeholder__animation{
  background:none!important;
}
#moderate-functions-panel .icon, div[data-testid = 'game_box_badges']{
  display:none!important;
}

.modal_back{
  position:fixed;
  z-index:900;
  background: rgba($color: #4fc3f6, $alpha: 0.8);
  height:100%;
  width:100%;
  top:0;
  display:flex;
  align-items: center;
  justify-content: center;

  .modal{
    background:white;
    border-radius:10px;
    max-height:90%;
    width:600px;
    padding:24px;
    position:relative;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    >h1{
      line-height: 1.5rem;
      font-size: 1.5rem;
    }
    .modal_close {
      z-index:900;
      position:sticky;
      top:36px;
      > div{
        background: #f5f8fa;
        border-radius: 100%;
        padding: 8px;
        top:-50px;
      }
    }
    .preview-content{
      display:flex;
      flex-direction: column;
      flex:1;
      position:relative;
      .removedq{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        >img{
          width:80%;
        }
        h1{
          color:#323c45;
        }
      }
      .sg-spinner-container{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:white;
        z-index:999;
        &.remove{
          display:none;
        }
      }
      .log{
        .log-item{
          display:flex;
          .content{
            margin-top:0px;
          }
          .user{
            color: #413bff;
            margin-right: 4px;
            font-weight: 600;
          }
        }
      }
      .content-item{
        margin-bottom:8px;
        border:1px solid #e1eaf1;
        border-radius:5px;
        padding:8px;
        width:100%;
        height:max-content;
        &.reported{
          .report{
            display:flex;
            .report-info>div{
              font-size:1rem;
              line-height:1.2rem;
            }
          }
          .qdata{
            border-color:#ff7968!important;
          }
        }
        .actions{
          display: flex;
          justify-content: flex-end;
          .delete{
            width: 40px;
            cursor: pointer;
            height: 40px;
            border: 2px solid #ff341a;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            >div{
              fill: #ff341a;
              height: 26px;
              width: 26px;
            }
          
          }
          .qdel, .adel{
            border:none;
            border-radius:100%;
            height:40px;
            font-weight:600;
            width:40px;
            background:#fbbe2e;
            color:white;
            display:flex;
            align-items: center;
            justify-content:center;
          }
        }
      }
      .rank{
        font-weight:600;
      }
      .report{
        display:none;
        border:1px solid #ff7968;
        border-radius:5px;
        padding:8px;
        align-items:center;
        margin-bottom:8px;
        >div{
          fill:#ff341a;
          margin-right:8px;
        }
      }
      .qdata,.adata{
        border-radius:5px;
        padding:8px;
        overflow-x:hidden;
      }

      .content{
        margin-top:8px;
        text-overflow:ellipsis;
      }
      .attachments{
        margin-top: 8px;
        margin-bottom:8px;
        justify-content: center;
        padding: 8px 8px;
        border-radius: 10px;
        display:none;
        position: relative;
        background: #f5f8fa;
        height: 400px;
        align-items: center;
        justify-content: center;
        &.show{
          display:flex;
        }
        img{
          max-height: 350px;
          max-width:350px;
          border-radius: 10px;
        }
      }
      .delmenu{
        display:none;
        .secondary-items, .deletion-reason{
          display:none;
        }
        &.show{
          display:flex;
          flex-direction:column;
        }
        &.secondary{
          .secondary-items, .deletion-reason{
            display:block;
          }
          .del-options{
            display:flex;
          }
        }
        .primary-items, .secondary-items{ 
          margin-top:8px;
          padding: 8px 0px;
          border-bottom: 1px solid #c3d1dd;
          > label{
            padding:0px 8px;
            > span:last-child{
              margin-left:8px;
            }
          }
        }
        .deletion-reason{
          margin-top:8px;
        }
        .del-options{
          display:none;
          align-items: center;
          margin-top: 8px;
          justify-content: space-between;
          button{
            height: 36px;
            padding: 0.2rem 1rem;
          }
          .warnpts{
            label{
              margin-right:8px;
              span{
                margin-left:4px!important;
              }
            }
          }
        }
      }
      .attachment-tools{
        position: absolute;
        right: 8px;
        bottom:8px;
        display: flex;
        z-index:900;
        >button{
          border-radius: 100%;
          height: 40px;
          width: 40px;
          border: none;
          margin: 0px 4px;
          >div{
            height: 26px;
            fill: #323c45;
            width: 26px;
          }
        }
      }
      .attach-list{
        display:flex;
        img{
          height: 64px;
          padding: 0px 8px;
          cursor:pointer;
          &:not(:last-child){
            border-right: 1px solid #c3d1dd;
          }
        }
      }
      .user-info, .text-user, .text-subj{
        display:flex;
      }
      .pfp{
        margin-right:8px;
        img{
          height: 32px;
          border-radius: 100%;
        }
      }
      .text-subj > div{
        color:#687b86;
      }
      .question{
        flex:1;
        transition-duration:150ms;
        &.deleted{
          background:#ffe8e5;
        }
      }
      .actions{
        display:flex;
        margin-top:8px;
      }
      .actions > button, .actions > div{
        margin:0px 4px;
      }
      .answers{
        flex:1;
        max-width:100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        align-items: baseline;
        .content-item{
          flex:0;
        }
      }
    }

    > h2{
      font-size:18px;
      line-height:20px;
    }
  }
}

.brn-feed-item__points .brn-points-on-feed{
  display:flex;
  align-items:center;
  .repflag{
    background:transparent;
    height:24px;
    width:24px;
    margin-right:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    >div{
      fill:#ff341a!important;
      max-height:24px;
      max-width:24px;
    }
  }
}
.rightdot::after{
  content: '\00B7';
  display: inline-block;
  color: #323c45;
  padding: 0 2px;
}
.brn-feed-item__footer{
  >div{
    display:flex;
  }
  
  .sg-actions-list__hole--to-right{
    display:flex;
    margin-right:4px!important;
    .sg-button--outline{

      >div{
        max-height:24px!important;
        max-width:24px!important;
      }
    }
  }
  .sg-button--outline{
    background-color:black!important;
    width:36px;
    height:36px;
    padding:8px 8px 8px 8px!important;
    border-radius:100%;
  }
  .mod-button{
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fbbe2e!important;
    border-color: #fbbe2e!important;

    svg{
      fill:white;
    }
    > div{
      height:20px;
      width:20px;
    }
  }
}