*{
  --primary-color: #60d399;
  --primary-text: #ffffff;
}
div[class ^= 'Header-module'], div[class ^= 'brn-header-placeholder'], .brn-footer, #html .mint .mint-header, #moderate-functions-panel .covering-text{
  background-color:var(--primary-color)!important;
  border-bottom-color: var(--primary-color)!important;
}
#moderate-functions-panel .text, .menu-list a:before, a[data-testid = 'navigation_add_question'] > span, div[class ^= 'Header-module__subnav'] span, div[class ^= 'Header-module__subnav'] a, button[aria-label = 'notification center'] svg, .brn-footer-legal-section div, .brn-footer-legal-section p, .brn-footer__container a, .brn-footer__container span, .brn-footer__container h3{
  color: var(--primary-text)!important;
}
div.brn-placeholder__animation{
  background:none!important;
}
#moderate-functions-panel .icon, div[data-testid = 'game_box_badges']{
  display:none!important;
}

.modal_back{
  position:fixed;
  z-index:900;
  background: rgba($color: #4fc3f6, $alpha: 0.8);
  height:100%;
  width:100%;
  top:0;
  display:flex;
  align-items: center;
  justify-content: center;

  .modal{
    background:white;
    border-radius:10px;
    height:90%;
    width:800px;
    padding:24px;
    position:relative;
    display: flex;
    flex-direction: column;
    >h1{
      line-height: 1.5rem;
      font-size: 1.5rem;
    }
    .preview-content{
      display:flex;
      flex-direction: row;
      flex:1;
      .sg-spinner-container{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display:none;
      }
      .question{
        flex:1;
      }
      .answers{
        flex:1;
      }
    }
    .modal_close{
      right:12px;
      top:12px;
      position:absolute;
    }

    > h2{
      font-size:18px;
      line-height:20px;
    }
  }
}

.brn-feed-item__points .brn-points-on-feed{
  display:flex;
  align-items:center;
  .repflag{
    background:transparent;
    height:24px;
    width:24px;
    margin-right:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    >div{
      fill:#ff341a!important;
      max-height:24px;
      max-width:24px;
    }
  }
}
.brn-feed-item__footer{
  >div{
    display:flex;
  }
  
  .sg-actions-list__hole--to-right{
    display:flex;
    margin-right:4px!important;
    .sg-button--outline{

      >div{
        max-height:24px!important;
        max-width:24px!important;
      }
    }
  }
  .sg-button--outline{
    background-color:black!important;
    width:36px;
    height:36px;
    padding:8px 8px 8px 8px!important;
    border-radius:100%;
  }
  .mod-button{
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fbbe2e!important;
    border-color: #fbbe2e!important;

    svg{
      fill:white;
    }
    > div{
      height:20px;
      width:20px;
    }
  }
}