.header,#profile{
    display:flex!important;
}
.helped_info{display:none!important;}
.mod-profile-panel{
    position:relative;
    .user-del-btn{
        border-color:#ff7968;
        padding: 0px 16px;
        width: 175px!important;
        display: flex;
        margin-top: 4px;
        position: absolute;
        right: 0;
        bottom: 115%;
        height: 35px;
        align-items: center;
        justify-content: space-evenly;
        svg{
            fill:#ff7968;
        }
        >span{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
    }
}
span.ranking a,span.rank > h3 > span, span.rank > h3 > a{
    font-weight:900!important;
}
span.pseudolink.show-form{display:none;}
.modal-accdel{
    background: white;
    padding: 12px;
    height: 300px;
    display: flex;
    width: 350px;
    flex-direction: column;
    border-radius: 10px;
    position:relative;
    .spinner-container{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        background:rgba(255,255,255,0.6);
        display:none;
        justify-content: center;
        align-items:center;
        border-radius:10px;
        &.show{
            display:flex!important;
            z-index:999;
        }
    }
    >h1{
        font-size:1.5rem;
        line-height:2rem;
        font-weight:900!important;
    }
    .modal_close{
        position: absolute;
        cursor:pointer;
        right: 12px;
        top: 12px;
        height: 26px;
        width: 26px;
        >div{
            height:26px;
            width:26px;
        }
    }
    .content{
        display: flex;
        flex: 1;
        flex-direction: column;
        >textarea{
            flex:1;
        }
        &.errormsg{
            >div{
                display:block;
            }
        }
        >div{
            display:none;
            margin-left:0px;
        }
        >button{
            margin-top:16px;
            width:100%;
            background-color: #ff7968;
            &:hover, &:focus{
                background-color: #ff7968;
            }
            color:white;
        }
    }
}